.start {
    padding: 150px 150px;
    height: 100vh;
}

.start__block {
    background: linear-gradient(#ddeb5f, #9cec41);
    height: 200px;
    width: 150px;
    border: 1px solid #4b4848;
    box-shadow: 0 0 5px #4b4848;
    border-radius: 10px;
    transform: rotate(-30deg) translateX(10vh);
    
}

/* если я правильно поняла задание, то нужно именно повернуть элемент, 
поэтому использовала rotate, но если все таки нужно было растянуть элемент на 30 градусов
то сделала бы так: transform: skew(-30deg) translateX(10vh); */