.block {
    border: 5px solid #494848;
    background-color: antiquewhite;
    height: 60%;
}

.block__item {
    border: 2px solid #000; 
    height: 40px;
    background-color: #ebd6f8;
}

.block {
    display: flex;
    align-items: center;
}

.block__item {
    flex-grow: 1;
}